.idea/
out/
*.iml
violet-0.16c/*.classpath
violet-0.16c/*.project
violet-0.16c/com/horstmann/violet/*.class
violet-0.16c/com/teamviolet/server/*.class
violet-0.16c/build.properties
violet-0.16c/com/horstmann/violet/UMLEditorVersion.properties
*.class
*.jar
*.war
*.ear
hs_err_pid*

*_Ignore*
/bin/
