<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>

        <!-- Checks for Javadoc comments. -->
        <!-- http://checkstyle.sourceforge.net/config_javadoc.html -->
        <module name="JavadocMethod">
           <property name="scope" value="public"/>
           <property name="allowMissingThrowsTags" value="true"/>
        </module>
        <module name="JavadocType"/>

        
    </module>
    <!-- Checks for tabs -->
    <!-- http://checkstyle.sourceforge.net/config_whitespace.html#FileTabCharacter -->
    <module name="FileTabCharacter">
       <property name="eachLine" value="true"/>
    </module>

</module>





